<div class="container">
    <div class="search">
        <input type="text" #field list="searchHint" id="searchField"> 
        <datalist id="searchHint">
            <option *ngFor="let option of listUserSearch" [value]="option">
        </datalist>
        <button class="btn btn-secondary" (click)="search(field.value)">Search</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th class="col-sm-3 col-xs-3" (click)="filter($event)">Book's name</th>
                <th class="col-sm-2 col-xs-2" (click)="filter($event)">Genre</th>
                <th class="col-sm-2 col-xs-3" (click)="filter($event)">Page numbers</th>
                <th class="col-sm-4 col-xs-3">Editing actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let book of list; let i = index">
                <td class="col-sm-1">{{ i+1 }}</td>
                <td class="col-sm-2">{{ book.name }}</td>
                <td class="col-sm-3 col-xs-2">{{ book.genre }}</td>
                <td class="col-md-3 col-xs-1">{{ book.pagesNumber }}</td>
                
                <td class="col-sm-3 col-xs-7" class="control" >
                    <button class="btn btn-info" (click)="showInfo(book.id)">Info</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>