.container {
    width: 100%;
    padding: 10px;

    td{
        padding: 5px 0;
        vertical-align: middle;
    }
    
}
.control{
    margin: 0 auto;
}
.search{
    margin: 20px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
button{
    font-weight: 500;
    margin-right: 5px;
    height: 30px;
    padding: 10px;
    line-height: 10px;
}
th{
    cursor: pointer;
}
@media screen and (max-width: 575px) {
    .control{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .search{
        margin: 0px;
    }
}