<div class="col-sm-10 home">

    <h1>We want to help you</h1>

    <h4>Here you can find the book you want</h4>

    <p>
        On this site you can add, edit, read and delete author.
    </p>
    <p>
        Click the button to see list
    </p>

    <!-- <div class="col-sm-5 right-box">
        <button class="btn btn-primary" routerLinkActive="active" routerLink="/authors">Authors</button>
        <button class="btn btn-primary" routerLinkActive="active" routerLink="/books">Genre</button>
    </div> -->
    
</div>